<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <button class="theme-toggle">
        <i class="fa-solid fa-moon"></i>
    </button>

    {% include "layout/navbar.html" %}

    {% include "layout/alert.html" %}
    
    <div class="container">
        {% if request.get_full_path != '/' %}
            {% include "layout/left-menu.html" %}
        {% endif %}

        {% block content %}
        {% endblock content %}
                
        {% if request.get_full_path != '/' %}
            {% include "layout/right-panel.html" %}
        {% endif %}
    </div>
    
    {% include "layout/footer.html" %}
        
    <script src="/static/js/theme.js"></script>
</body>

</html>