<aside class="left-menu">
    <input type="text" name="filter" id="filter" placeholder="Search a user">
    <ul>
        {% for user in users  %}
            <li>
                <a href="{% url 'chatting-with-user' user.username %}">
                    <i class="fas fa-user"></i>
                    <span>
                        {% if user.id == request.user.id %}
                            You ({{ user.first_name }})
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </span>
                </a>
                <hr>
            </li>
        {% endfor %}
    </ul>
</aside>