<aside class="right-panel">
    <div class="widget">
        <h3>Quick Stats</h3>
        <div class="stat">
            <span>Users</span>
            <span class="stat-value">{{details.total_users}}</span>
        </div>
        <div class="stat">
            <span>Your Chats</span>
            <span class="stat-value">{{details.your_conversations}}</span>
        </div>
        <div class="stat">
            <span>Unread</span>
            <span class="stat-value">3</span>
        </div>
    </div>
    
    <div class="widget">
        <h3>Recent</h3>
        {% if not details.recentUsers %}
            <div class="stat">
                Not available
            </div>
        {% else %}
            {% for user in details.recentUsers %}
                    <a class="stat" href="{% url 'chatting-with-user' user.username %}">
                        <span>
                            <i class="fas fa-user"></i>
                            {{ user.first_name }}
                        </span>
                    </a>
            {% endfor %}
        {% endif %}
    </div>
</aside>