{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/auth.css">

<div class="main-content">
    <div class="auth-container">
        <div class="auth-box">
            <div class="toggle-switch">
                <span>Sign In</span>
                <span>Sign Up</span>
            </div>

            {% include "./log-in.html" %}
            {% include "./sign-up.html" %}

        </div>
    </div>
</div>

<script>
    const title = "{{ title }}"

</script>

<script src="/static/js/auth.js"></script>
{% endblock content %}