<div class="form-container" id="signInForm">
    <div class="form-header">
        <h2>Welcome Back</h2>
        <p>Please sign in to your account</p>
    </div>
    <form method="post" action="{% url 'log-in' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="loginUsername">Username</label>
            <input type="text" id="loginUsername" name="username" required placeholder="Enter your username">
        </div>
        <div class="form-group">
            <label for="loginPassword" >Password</label>
            <input type="password" id="loginPassword" name="password" required placeholder="Enter your password">
        </div>
        <div class="btn" style="padding-top: 10px;">
            <button type="submit" class="submit-btn">Sign In</button>
            <p>Don't have an Account ? 
                <button onclick="document.querySelector('.toggle-switch').querySelectorAll('span')[1].click()">sign up</button>
            </p>
        </div>
    </form>
</div>